/* Card.css */
.card {
    display: flex;
    position: relative;
    align-items: stretch;
    margin: 20px 0;
    justify-content: space-between;
    border-radius: var(--border-radius);
    overflow: hidden;
    border: var(--border);
    padding-left: 10px;
    height: auto;
}

.card-info {
    flex-basis: 60%;
    padding-right: 10px;
}

.game-image {
    position: absolute;
    right: 0;
    top: 0; 
    bottom: 0;
    width: 130px;
    background-color: var(--color-grey1);
    overflow: hidden;
}

.game-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card button {
    margin: 20px 0px 0px -10px;
    font-size: 1rem;
    padding: 0;
    height: 40px;
}

/* TABLET BREAK SIZE */
@media only screen and (min-width: 740px) {
    .game-image {
        width: 300px;
    }
}

/* DESKTOP BREAK SIZE */
@media only screen and (min-width: 1024px) {
    .card-info {
        padding: 10px;
    }

    .game-image {
        width: 500px;
    }
}
