/* Card.css */
.card {
    display: flex;
    align-items: stretch;
    margin: 20px 0;
    justify-content: space-between;
    border-radius: var(--border-radius);
    overflow: hidden;
    border: var(--border);
    padding-left: 10px;
    height: auto;
}

.game-image {
    width: 150px;
    background-color: var(--color-grey1);
}

.card button {
    margin: 20px 0px 0px -10px;
    font-size: 1rem;
    padding: 0;
    height: 40px;
}
