form {
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

form label {
    display: block;
    font-weight: 700;
    font-size: 1.4rem;
    
}

form input {
    display: block;
    border-radius: var(--border-radius);
    border: var(--border);
    height: 50px;
    margin-top: 10px;
    font-size: 1.2rem;
    padding-left: 10px;
    

}

.form-field {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;

}

.profile-photo {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: var(--color-theme1);

}