.header,
.home-header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  background-color: var(--color-grey1);
  padding: 10px 20px 10px 20px;
  height: 40px;
}
.logo {
  background-color: var(--color-theme1);
  height: 30px;
  padding: 5px;
  color: white;
  border-radius: 10px;
  transition: all 0.3s;
}

.logo:hover {
  background-color: var(--color-theme1-dark);
}

.logo h5 {
  margin: 0;
}

.home-header button {
  height: 30px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 10px 20px;
  height: auto;
}

#login {
  background-color: white;
  color: black;
}

#Register {
  background-color: var(--color-theme1);
  color: black;
}
