.nav-menu {
    width: 100%;
    position: absolute;
    top: 60px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-grey1);
    display: block;
    max-height: 0;
    overflow: hidden;
    opacity: 1.0;
    transition: all 0.3s ease-in-out;
}

.nav-menu.open {
    opacity: 1.0;
    max-height: 100%;
}

.nav-menu a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    font-weight: 700;
    color: var(--text-color);
}

.nav-menu a:hover {
    color: var(--highlight-color);
    text-shadow: var(--neon-shadow);
}